@font-face{
	font-family:"ATT Aleck Sans Bold";
	src:url("../fonts/ATTAleckSans_Bd.ttf") format("truetype"),
		url("../fonts/ATTAleckSans_Bd.otf") format("opentype")
}
@font-face{
	font-family:"ATT Aleck Sans Reg";
	src:url("../fonts/ATTAleckSans_Rg.ttf") format("truetype"),
		url("../fonts/ATTAleckSans_Rg.otf") format("opentype")
}
@font-face{
	font-family:"ATT Aleck Sans Black";
	src:url("../fonts/ATTAleckSans_Blk.ttf") format("truetype"),
		url("../fonts/ATTAleckSans_Blk.otf") format("opentype")
}
@font-face{
	font-family:"ATT Aleck Sans Compressed Med";
	src:url("../fonts/ATTAleckCmp_Md.ttf") format("truetype"),
		url("../fonts/ATTAleckCmp_Md.otf") format("opentype")
}
@font-face{
	font-family:"ATT Aleck Sans Med";
	src:url("../fonts/ATTAleckSans_Md.ttf") format("truetype")
}
@font-face {
	font-family: 'ElegantIcons';
	src:url('../fonts/ElegantIcons.eot');
	src:url('../fonts/ElegantIcons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ElegantIcons.woff') format('woff'),
		url('../fonts/ElegantIcons.ttf') format('truetype'),
		url('../fonts/ElegantIcons.svg#ElegantIcons') format('svg');
	font-weight: normal;
	font-style: normal;
}
body{
	font-family: 'ATT Aleck Sans Reg',Helvetica,Arial,Lucida,sans-serif;
}
.att-navbar{
	background-color: #fff;
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 99999;
}
.att-navbar .navbar-toggler{
	border-color: transparent;
	height: 35px;
	width: 50px;
	display: none;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.att-navbar .navbar-toggler:focus{
	outline: none !important;
}
.att-navbar .navbar-toggler .navbar-toggler-lines{
	width: 30px;
	height: 3px;
	background-color: #009fdb;
	display: block; 
}
.att-navbar .navbar-brand img{
	padding: 5px 0;
	width: 150px;
	height: auto;
}
.att-menu{
	position: relative;
	z-index: 0;
}
.att-menu .nav-item .nav-link{
	text-align: center;
	color: #000;
	font-weight: 600;
	padding: 5px 25px;
	font-size: 14px;
}
.att-menu .nav-item .nav-link img{
	height: 25px;
	width: auto;
	margin-bottom: 5px;
}
.att-menu .nav-item .dropdown-menu{
	padding: 0;
}
.att-menu .nav-item .dropdown-menu .dropdown-item{
	padding-top: 10px;
	padding-bottom: 10px;
	font-weight: 600;
	font-size: 12px;
	transition: all 0.5s;
}
.att-menu .nav-item .dropdown-menu .dropdown-item:hover{
	background-color: #0057b8;
	color: #fff;
}
@media (max-width: 991px){
	.att-navbar{
		position: relative;
	}
	.att-navbar .navbar-toggler{
		display: flex;
	}
	.att-navbar .navbar-collapse{
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		background-color: #fff;
		border-top: 3px solid #0057b8;
		padding: 50px 15px; 
	}
	.att-menu .nav-item .nav-link{
		padding: 25px 25px;
	}
	.att-menu .nav-item .dropdown-menu{
		border-color: transparent;
	}
	.att-menu .nav-item .dropdown-menu .dropdown-item{
		text-align: center;
	}
}

/*Navbar end here*/
.main-body{
	margin-top: 90px; 
}
.mob-red-bar{
	padding-top: 10px;
    padding-bottom: 10px;
    background-color: #ff585d;
    color: #fff;
}
.timer-bar{
	background-color: #505050;
}
.timer-bar-text{
	color: #fff;
	padding-top: 10px;
	padding-bottom: 10px;
	font-weight: bold;
}
.mobile-cover{
	display: none;
}
.att-cover{
	background: url("../images/ATT-FAMILY-2.jpg") no-repeat;
	background-size: cover;
	background-position: center;
	padding-top: 35px;
	padding-bottom: 35px;
}
.att-cover h1{
	font-family: 'ATT Aleck Sans Reg',Helvetica,Arial,Lucida,sans-serif;
    font-size: 45px;
    color: #009fdb;
    margin-top: 30px;
}
.att-cover p.att-text-4{
	font-family: 'ATT Aleck Sans Med',Helvetica,Arial,Lucida,sans-serif;
    font-size: 20px;
    line-height: 1.2em;
    margin-top: 30px;
    margin-bottom: 10px;
    max-width: 88%;
}
.att-cover .cover-text p.att-text-4 a{
	color: #000;
}
.att-cover .cover-text p.att-text-5{
	font-size: 20px;
    margin-top: 30px;
    margin-bottom: 0;
}
.att-cover .cover-text p.att-text-6{
	font-family: 'ATT Aleck Sans Bold',Helvetica,Arial,Lucida,sans-serif;
    font-size: 46px;
    display: inline-block;
    margin-bottom: 0;
}
.att-cover .cover-text p.att-text-inner{
	font-size: 15px;
    margin-left: -20px;
    display: inline-block;
}
.att-cover .cover-text p.att-text-7{
	font-family: 'ATT Aleck Sans Reg',Helvetica,Arial,Lucida,sans-serif;
    font-size: 12px;
    line-height: 1.5em;
    margin-top: 15px;
    margin-bottom: 30px;
    max-width: 50%;
}
.get-reward{
	background-image: linear-gradient(90deg,#af29bb 25%,#0057b8 100%)!important;
	color: #fff;
}
.get-reward .att-text-1{
	font-family: 'ATT Aleck Sans Bold',Helvetica,Arial,Lucida,sans-serif;
    font-size: 36px;
    margin-top: 30px;
    margin-bottom: 0
}
.get-reward .att-text-2{
	font-family: 'ATT Aleck Sans Med',Helvetica,Arial,Lucida,sans-serif;
    font-size: 25px;
    margin-top: 0;
    margin-bottom: 10px;
}
.get-reward .att-text-3{
	font-family: 'ATT Aleck Sans Reg',Helvetica,Arial,Lucida,sans-serif;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 50px;
}
.margin-card-min{
	margin-top: -20px;
}
.plans-card{
	background-color: #f2f2f2;
	padding-bottom: 30px;
}
.plan-card{
	background-color: #ffffff;
	border: 1px solid #d2d2d2;
    text-align: center;
    margin-bottom: 30px;
}
.plan-card .card-heading{
	font-family: 'ATT Aleck Sans Bold',Helvetica,Arial,Lucida,sans-serif;
    font-size: 20px;
    background-color: #009fdb;
    position: relative;
    border-bottom: 3px solid #0057b8;
    padding-top: 15px!important;
    padding-bottom: 12px!important;
    color: #fff;
    margin-bottom: 30px;
}
.plan-card .card-title{
	font-family: 'ATT Aleck Sans Reg',Helvetica,Arial,Lucida,sans-serif;
    font-size: 20px;
    line-height: 1em;
    height: 145px;
    padding-top: 15px;
    padding-bottom: 25px;
    margin-right: 15px;
    margin-left: 15px;
}
.plan-card .card-title img{
	margin-bottom: 15px;
}
.plan-card .card-value{
	font-family: 'ATT Aleck Sans Reg',Helvetica,Arial,Lucida,sans-serif;
    font-size: 50px;
    margin-bottom: 0px!important;
    display: inline-block;
}
.plan-card .card-value-mon{
	font-family: 'ATT Aleck Sans Reg',Helvetica,Arial,Lucida,sans-serif;
    font-size: 20px;
    line-height: 1em;
    padding-left: 0px;
    margin-bottom: 0px;
    margin-left: -18px;
    display: inline-block;
}
.plan-card .para{
	font-family: 'ATT Aleck Sans Reg',Helvetica,Arial,Lucida,sans-serif;
    font-size: 12px;
    line-height: 1.3em;
    border-top-color: rgba(0,0,0,0);
    border-bottom-color: rgba(0,0,0,0);
    height: 150px;
    padding-top: 10px;
    margin-right: 15px;
    margin-bottom: 20px;
    margin-left: 15px;
}
.plan-card .para a{
	color: #000;
	font-size: 13px;
	text-decoration: none;
	font-weight: 600;
}
.plan-card .see-more{
	margin-right: 15px;
    margin-bottom: 20px;
    margin-left: 15px;
}
.att-button{
	color: #ffffff;
    border-radius: 3px;
    font-size: 18px;
    font-family: 'ATT Aleck Sans Reg',Helvetica,Arial,Lucida,sans-serif!important;
    background-image: linear-gradient(165deg,#0057b8 0%,#49eedc 100%)!important;
    background-color: #009fdb;
    padding: 8px 1em;
    display: inline-block;
}
.att-button:hover{
	color: #fff;
	text-decoration: none;
}
.plans-card .cards-disc{
	font-family: 'ATT Aleck Sans Reg',Helvetica,Arial,Lucida,sans-serif;
    font-size: 12px;
    line-height: 1.3em;
    border-top-color: rgba(0,0,0,0);
    border-bottom-color: rgba(0,0,0,0);
    height: auto;
    padding-top: 10px;
    margin-right: 15px;
    margin-bottom: 20px;
    margin-left: 15px;
}


.help-section{
	background-size: contain;
    background-position: center left;
    background: url('../images/ATT-Uverse-Bundle-header.jpg') no-repeat;
}
.help-tabs{
	padding-top: 100px;
    padding-bottom: 100px;
}
.help-tabs .att-tabs h1{
	font-family: 'ATT Aleck Sans Reg',Helvetica,Arial,Lucida,sans-serif;
    text-transform: uppercase;
    font-size: 35px;
    color: #009fdb!important;
}
.help-tabs .att-tabs .accordion{
	margin-bottom: 20px;
}
.help-tabs .att-tabs .accordion .card{
	border-radius: 0; 
	border: none;
	margin-bottom: 15px;
}
.help-tabs .att-tabs .accordion .card-header{
	padding: 0;
    background-color: #009fdb;
    border: none;
    border-radius: 0;
}
.help-tabs .att-tabs .accordion .card-header .btn-link{
	padding: 0;
	text-align: left;
	color: #fff;
	text-decoration: none;
	width: 100%;
	text-decoration: none;
	padding: 17px 40px 13px 15px;
	font-size: 18px;
	font-family: "ATT Aleck Sans Bold";
	position: relative;
}
.help-tabs .att-tabs .accordion .card-header .btn-link:before{
	position: absolute;
	color: white;
    font-size: 19px;
    content: "\e04b";
    top: 15px;
    right: 15px;
    font-family: ElegantIcons;
    font-style: normal;
    font-weight: 400;
    text-transform: none;
    line-height: 1;
}
.help-tabs .att-tabs .accordion .card-header .btn-link.collapsed:before{
	content: '\e04c'
}
.help-tabs .att-tabs .accordion .card-body{
	padding: 17px 15px 13px 15px;
    background: #f2f2f2;
    font-size: 15px;
    line-height: 1.7em;
}
/*Footer==================*/
.att-footer{
	background-color: rgb(80, 80, 80);
	padding: 35px 0 15px 0;
	color: #fff;
	margin-bottom: 90px;
}
.att-footer .footer-content .footer-menu a{
	color: #fff;
	text-decoration: none;
}
.bottom-number{
	background: linear-gradient(122deg,#0057b8 0%,#009fdb 100%);
	padding-top: 20px;
    padding-right: 0px;
    padding-bottom: 15px;
    padding-left: 0px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 500;
    box-shadow: 0px 18px 16px 23px rgba(0,0,0,0.3);
}
.bottom-number a{
	font-family: 'ATT Aleck Sans Bold',Helvetica,Arial,Lucida,sans-serif;
    font-size: 36px;
    vertical-align: middle;
    text-decoration: none;
    color: #fff;
}
/*============Media Query==========*/

@media (max-width: 991px){
	.main-body{
		margin-top: 0; 
	}
	.mobile-cover{
		display: block;
	}
	.mobile-cover img{
		width: 100%;
		height: auto;
	}
	.att-cover{
		background: linear-gradient(307deg,#009fdb 0%,#0057b8 100%);
		color: #fff;
	}
	.att-cover h1{
		color: #fff;
	}
	.att-cover .cover-text p.att-text-4 a{
		color: #fff;
	}
	.att-cover .cover-text p.att-text-inner{
	    margin-left: 0px;
	}
	.margin-card-min{
		margin-top: 40px;
	}
	.help-section{
	    background: #fff;
	}
	.bottom-number a{
		font-size: 25px;
	}
}

